html {
  background: #000;
}

body {
  font-family: 'Fira Mono';
  background: #fefeff;
  min-height: 100vh;

  transition: opacity 0.1s ease-in-out;
}

[shadow] {
  --x: attr(shadow px);
  box-shadow: var(--x) var(--x) 0 #000;
  border: 3px solid #000;
}

button {
  color: #fff;
}

button:hover {
  filter: brightness(80%);
}

input {
  background: #fff;
}